@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{

    .green{
        background-color: #36C95F ;
    }
    .blue{
        background-color:#369FCA ;
    }
    .red{
        background-color: #F46E6B;
    }
    .purple{
        background-color: #B65BD3;
    }
    .flex-c{
        @apply flex flex-col items-center
    }
    .flex-r{
        @apply flex flex-row items-center
    }
    .text-g{
        color: #36C95F !important;
    }
    .nunito{
        font-family: 'Nunito', sans-serif;
    }
    .rounded-top{
        border-top-right-radius: 10px;
    }
     /* Hide scrollbar for Chrome, Safari and Opera */
     .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #F6FBF8;
}

h1,h2,p,li{
    box-sizing: border-box;
    color: #838282;
}
